body {
  font-family: Roboto, sans-serif;
}
:root {
  --color-6c757d : #6c757d;
  --color-828f99: #828f99;
  --color-f2f2f2: #f2f2f2;
  --color-212529: #212529;
  --color-f4f6f7: #f4f6f7;
  --color-47AD24: #47AD24;
}
.logo{
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 280px !important;
  max-width: 280px !important;
  min-width: 280px !important;
  width: 280px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 0 !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
  color: var(--color-6c757d);
}
.ant-layout-header div .badge {
  top: 16px;
  right: -5px;
}

/*============================ Dashboard Section Starts ===============================*/
.widget-header {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-828f99);
}
.widget_heading {
  font-size: 17px;
  font-weight: 600;
}
.widget-link {
  font-size: 16px;
  color: var(--color-212529);
}
.widget-link:hover {
  background-color: var(--color-f4f6f7);
  cursor: pointer;
}
.widget-border-b {
  border-bottom: 1px solid var(--color-f2f2f2);
}
.widget-border-t {
  border-top: 1px solid var(--color-f2f2f2);
}

.widget_th{
  font-size: 13px;
  font-weight: 600;
  color: var(--color-6c757d);
}
.indicator-value{
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: var(--color-212529);
}
.indicator-delta-value {
  color: var(--color-47AD24);
  font-size: 14px;
  font-weight: 600;
}
.review-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-212529);
}
.review-link:hover {
  text-decoration: underline;
  color: var(--color-212529);
}
.review-p {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-6c757d);
}
.review-p_link{
  font-size: 13px;
  font-weight: 500;
  color: var(--color-6c757d);
  text-decoration: none;
}
.review-p_link:hover {
  color: var(--color-6c757d);
}
/*============================ Dashboard Section Ends =================================*/
.quill {
  background-color: #ffffff;
}